:root {
  --box-height: 25px;
  --lightblue: #e7f6ff;
  --lightgray: #f3f3f3;
  --darkgray: #868686;
  --blue: #1f91ff;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {

  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: Arial, sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

#dropdown {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin-top: calc(var(--box-height) + 3px);
  width: 80%;
  border: 2px solid var(--dropdown);
  border-radius: 5px;
  background-color: white;
  border-top: none;
 
}

#dropdown .list {
     overflow-y: scroll;
}

#dropdown .list,
#dropdown .user_input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
   max-height: 300px;

}




#dropdown .list span {
  width: 100%;
  line-height: var(--box-height);
  display: flex;
  padding-left: 4px;
}

#dropdown .list span.hidden {
  display: none;
}

#dropdown .user_input span {
  width: 100%;
  line-height: var(--box-height);
  display: flex;
  padding-left: 8px;
}
#dropdown .hidden {
  display: none;
}

#dropdown span.selected {
  background-color: var(--lightblue);
  font-weight: 800;
  position: relative;
}

#dropdown .list span:hover, #dropdown .user_input span:hover {
  background-color: var(--lightgray);
}

#dropdown span.selected .checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 20px;
  width: 10px;
  border-bottom: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 5px;
  right: 0;
  bottom: 0;
  position: absolute;
}

#request_container {
  display: flex;
  margin: 200px 8% 0;
  position: relative;
  padding-bottom: 200px;
}

#request_container textarea {
  border: none;
  line-height: var(--box-height);
  height: var(--box-height);
  width: 100%;
  overflow: hidden;
  resize: none;
}
#id_request {
  height: 0;
  position: absolute;
  left: -500px;
}

#request_container textarea:focus {
  outline: none;
}

#request_container .tag_box {
  display: flex;
  width: 80%;
  height: var(--box-height);
}

#request_container button {
  width: 15%;
  height: var(--box-height);
  vertical-align: middle;
  margin-left: auto;
  font-size: 15px;
  border: 1px solid var(--blue);
  background-color: white;
  text-transform: uppercase;
  line-height: 15px;
  border-radius: 5px;
  color: var(--blue);
  cursor: pointer;
}

#request_container .border_box {
  position: absolute;
  border: 1px solid var(--lightgray);
  height: var(--box-height);
  width: 80%;
  border-radius: 5px;
  pointer-events: none;
  top: 0;
  left: 0;
  transition: 200ms;
}

#request_container .tag_items {
  display: flex;
  max-width: 80%;
  margin-left: 6px;
  height: 100%;
}

#request_container .tag_items span,
#request_container .tag_limit {
  padding-left: 5px;
  background-color: var(--lightgray);
  display: flex;
  align-items: center;
  padding-right: 5px;
  border-radius: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  justify-content: center;
}

#request_container .tag_limit {
  width: 100%;
  min-width: 30px;
  max-width: 60px;
  height: 100%;
}

#request_container .tag_limit.hidden {
  display: none;
}
#request_container .tag_items span .cross {
  content: "\00d7";

  color: var(--darkgray);
  border: none;
}
#request_container .tag_items span .tag_text {
  border: none;
      white-space: nowrap;

}

#request_container .tag_items .tag.hidden {
  display: none;
}

#dropdown .checkmark {
  pointer-events: none;
}

#request_container .border_box,
#dropdown,
button {
  -webkit-box-shadow: 0px 2px 5px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 5px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 5px 1px rgba(34, 60, 80, 0.2);
}

#request_container * {
  font-size: calc(var(--box-height) - 10px);
}

@media screen and (max-width: 700px) {
  #request_container * {
    font-size: calc(var(--box-height) - 14px);
  }
  #request_container .tag_items span,
  #request_container .tag_limit {
    padding-left: 2px;
    padding-right: 2px;
  }
  #request_container .tag_limit {
    padding-left: 2px;
    padding-right: 2px;
    max-width: 40px;
  }
  #request_container button {
    font-size: calc(var(--box-height) - 14px);
    margin-left: 5px;
    padding-left: 3px;
  }
}
