{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=1100" />
    <meta name="robots" content="all" />
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
    <script type="text/javascript" src="{% static 'js/js_main.js' %}"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <title>Custom tags input</title>
  </head>

  <body>
    <div class="wrapper">
      <form method="post">
        {% csrf_token %}
        <span id="request_container">
          <span class="tag_box">
            <span class="tag_items"></span>
            <span class="tag_limit hidden"></span>
            {{ form.location01 }}<br />
            <span id="dropdown">
              <span class="user_input hidden"><span></span></span>
              <span class="list hidden"></span>
            </span>
            <span class="border_box"></span>
          </span>
          <button type="submit">SAVE</button>
        </span>
        {{ form.request }} {{ form.request.errors }}
      </form>
    </div>

    <div class="wrapper">
      <h2>Задание</h2>

      <p>
        Создать выпадающую форму для множественного выбора из полученого JSON
        через AJAX для поля 'Request'
      </p>
      <p style="text-align: center">Описание:</p>
      <p>0) Мобильная адаптация необезательна, но будет плюсом!!!</p>
      <p>
        1) При нажатии или наборе текста выпадает форма с элементами из json
      </p>
      <img
        src="{% static '/img/drop.png' %}"
        alt=""
        style="width: 545px; height: 220px"
      /><br />
      <p>
        2) При нажатии на элемент из списка он добавляется в строку инпута. При
        нажати на удаление (крестик) элемент удалется из инпута
      </p>
      <img
        src="{% static '/img/select.png' %}"
        alt=""
        style="width: 545px; height: 220px"
      /><br />
      <p>
        3) Возможность ввода любого запроса и добавление в инпут, даже если его
        нет в полученом JSON
      </p>
      <img
        src="{% static '/img/another1.png' %}"
        alt=""
        style="width: 545px; height: 80px"
      /><br />
      <img
        src="{% static '/img/another2.png' %}"
        alt=""
        style="width: 545px; height: 51px"
      /><br />
      <p>
        4) При заполнении строки инпута, не вошедшие элементы скрыты в строке и
        суммируеся их число
      </p>
      <img
        src="{% static '/img/hide.png' %}"
        alt=""
        style="width: 545px; height: 220px"
      /><br />
      <p>
        5) В конце данные из формы сохраняются в базе данных и каждый элемет
        отделен друг от друга переносом строки или знаком
      </p>
      <img
        src="{% static '/img/admin.png' %}"
        alt=""
        style="width: 545px; height: 220px"
      /><br />
    </div>
    <hr />
  </body>
</html>
