{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all" />
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
    <script type="text/javascript" src="{% static 'js/js_main.js' %}"></script>

    <title>Custom tags input</title>
  </head>

  <body>
    <div class="wrapper">
      <form method="post">
        {% csrf_token %}
        <span id="request_container">
          <span class="tag_box">
            <span class="tag_items"></span>
            <span class="tag_limit hidden"></span>
            {{ form.location01 }}<br />
            <span id="dropdown">
              <span class="user_input hidden"><span></span></span>
              <span class="list hidden"></span>
            </span>
            <span class="border_box"></span>
          </span>
          <button type="submit">SAVE</button>
        </span>
        {{ form.request }} {{ form.request.errors }}
      </form>
    </div>
  </body>
</html>
